/* Reset base */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header {
            box-sizing: border-box;
            background-color: #559F80;
            color: white;
            padding: 15px;
        }

        figure, p {
            margin-bottom: 1cm;
        }

        .container {
            display: flex;
            flex: 1;
        }

        nav#assunto, nav#especies, main {
            padding: 20px;
        }

        nav#assunto, nav#especies {
            background-color: #F2F2F2;
            flex: 1;
            padding: 10px;
        }

        main {
            width: 60%;
            background-color: white;
        }

        nav ul {
            list-style: none;
        }

        nav li {
            margin: 10px 0;
        }

        nav a {
            color: #559F80;
            text-decoration: none;
        }

        nav a:hover {
            text-decoration: underline;
            color: #3c705a;;
        }

        footer {
            background-color: #ddd;
            padding: 10px;
            text-align: center;
        }